main{
        justify-items: center;
        width: 100%;
        grid-template-columns: min-content 1fr 360px;
        grid-template-rows: 46px 46px 328px 58px 70px 40px 169px;
        grid-template-areas: "platzivideo-logo  video               video"
                             "album-tittle      video               video"
                             "song-track        video               video"
                             "song-track        song-name           song-name"
                             "song-track        song-share-tags     song-share-tags"
                             "playlist          comentary           recently"
                             "playlist          comentary           recently";
}
    
    
.platzivideo-logo{
    margin-top: 15px;
    /* grid-area: platzivideo-logo; */
}
.video{
    width: 100%;
    /* grid-area: video; */
}

.video-youtube{
    width: 100%;
}

.album-tittle{
    /* grid-area: album-tittle; */
}

.song-track{
    /* grid-area: song-track; */
}

.song-track--details{
    grid-gap: 4px;
}

.song-track--details p{
    font-size: 16px;
}
.song-track--details a{
    font-size: 14px;
}

.song-name{
    padding-left: 10px;
    /* grid-area: song-name; */
}

.song-share-tags{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* grid-area: song-share-tags; */
}
.song-share-tags > h4{
    padding: 10px 0;
    margin-left: 20px;
    
}
.share-download{
    width: 33%;
}
.music-tags{
    display: inline-flex;
    width: 35%;
}
.vallenato{
    width: 30%;
}

.musica-latina{
    width: 45%;
}

.comentary{
    /* grid-area: comentary; */
}

.comentar{
    max-width: 80%;
    grid-template-columns: 50px 65%;
}

.comentario{
    grid-template-columns: 50px 75%;
}
.recently{
    /* grid-area: recently; */
}

.recently1 img{
    height: 70px;
    width: 70px;
}
.recently2 img{
    height: 70px;
    width: 70px;
}

.playlist{
    padding-top: 20px;
    /* grid-area: playlist; */
}   